<ion-header color="primary">
  <ion-toolbar style="height: 80px;" color="primary">
    <br>
    <br>
    <ion-title>
      Swap
    </ion-title>
    <ion-icon name="menu"></ion-icon>
  </ion-toolbar>



</ion-header>

<ion-content>
  <ion-card>
    <img style="width: 50%;" src="/assets/img/pic18.png" alt="" />

    <img style="width: 10%;" src="/assets/img/green.jpg" alt="" />

    <ion-row>
      <ion-label>Name: Valerie P.</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Distance: 7 Km.</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Rating:</ion-label>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
      <ion-icon color="primary" name="star"></ion-icon>
    </ion-row>

    <br>

  <ion-card>
  <ion-list>
        <ion-item>
          <ion-label>Hi Valeria</ion-label>
        </ion-item>
  </ion-list>
  
</ion-card>
   
  <ion-card>
    <ion-list>
      <ion-item color="secondary">
        <ion-label color="dark"  style="text-align: right;">Hi Laura!</ion-label>
      </ion-item>
    </ion-list>
  
  </ion-card>

<ion-card>
  <ion-list>
    <ion-item>
      <ion-label>I saw a dress in your stock that i liked!</ion-label>
    </ion-item>
  </ion-list>

</ion-card>

<ion-card>
  <ion-list>
    <ion-item color="secondary">
      <ion-label color="dark" style="text-align: right;">oh good, let's swap!</ion-label>
    </ion-item>
  </ion-list>

</ion-card>



  </ion-card>
</ion-content>

<ion-footer>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-icon style="margin-top: 20px;" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary">Send</ion-button>
      </ion-col>
      <ion-col>

      </ion-col>

    </ion-row>


  </ion-card>
</ion-footer>
