<ion-header color="primary">
  <ion-toolbar style="height: 80px;" color="primary">
    <br>
    <br>
    <ion-title>
      Swap
    </ion-title>
    <ion-icon name="menu"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content color="secondary">
  <ion-card style="
    height: 400px" class="welcome-card">
    <img style="
    height: 400px" src="/assets/img/pic2.jpeg" alt="" />

  </ion-card>



<ion-item>
  <ion-label position="floating">Email:</ion-label>
  <ion-input placeholder="Enter text"></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">Password:</ion-label>
  <ion-input placeholder="Enter text"></ion-input>
</ion-item>
 <br>

<ion-button expand="block" color="primary" [routerLink]="['/tabs/tab2']">
  <ion-label style="color: #fff;">
    Sign in
  </ion-label>
</ion-button>



</ion-content>
