<ion-header color="primary">
  <ion-toolbar style="height: 80px;" color="primary">
    <br>
    <br>
    <ion-title>
      Swap
    </ion-title>
    <ion-icon name="menu"></ion-icon>
  </ion-toolbar>
<ion-searchbar expand="block" show-clear-button="focus" value="What are you looking for"></ion-searchbar>
</ion-header>

<ion-content>

<ion-card style="height: 150px;" class="welcome-card">
<ion-title> View more ></ion-title>
  <img  src="/assets/img/pic1.jpeg" alt="" />
</ion-card>





<ion-grid>
<ion-row>
    <ion-label style="margin-left: 5%; font-weight: bold;">Categories</ion-label>
    <ion-label color="secondary" style="margin-left: 50%">View all></ion-label>
</ion-row>

  <ion-row>

        <ion-col>
          <ion-card style="height: 80px; width: 80px;" class="welcome-card">
            <ion-title> All Womens</ion-title>
            <img style="height: 80px; width: 80px;" src="/assets/img/pic6.jpg" alt="" />
          </ion-card>
        </ion-col>
    <ion-col>
          <ion-card style="height: 80px; width: 80px;" class="welcome-card">
            <img style="height: 80px; width: 80px;" src="/assets/img/pic2.jpeg" alt="" />
          </ion-card>
        </ion-col>
            <ion-col>
              <ion-card style="height: 80px; width: 80px;" class="welcome-card">
                <img style="height: 80px; width: 80px;" src="/assets/img/pic5.jpeg" alt="" />
              </ion-card>
            </ion-col>
       
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-label style="margin-left: 5%; font-weight: bold;">Featured</ion-label>
    
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card style="height: 200px; width: 140px;" class="welcome-card">
        <ion-title> All Womens</ion-title>
        <img style="height: 200px; width: 140px;" src="/assets/img/pic7.png" alt="" />
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="height: 200px; width: 140px;" class="welcome-card">
        <img style="height: 200px; width: 140px;" src="/assets/img/pic8.png" alt="" />
      </ion-card>
    </ion-col>

      <ion-col>
        <ion-card style="height: 200px; width: 140px;" class="welcome-card">
          <ion-title> All Womens</ion-title>
          <img style="height: 200px; width: 140px;" src="/assets/img/pic9.png" alt="" />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="height: 200px; width: 140px;" class="welcome-card">
          <img style="height: 200px; width: 140px;" src="/assets/img/pic10.png" alt="" />
        </ion-card>
      </ion-col>
   
  </ion-row>
</ion-grid>








  <ion-grid>
    <ion-row>
    <ion-col col-6 *ngFor="let photo of photoService.photos">
        <img [src]="photo.data" />
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="photoService.takePicture()">
        <ion-icon name="hand">  </ion-icon>
        
      
      </ion-fab-button>
  </ion-fab>
</ion-content>