<ion-header color="primary">
  <ion-toolbar style="height: 80px;" color="primary">
    <br>
    <br>
    <ion-grid>
        <ion-row>
                <ion-icon name="menu"></ion-icon>
                <ion-title>Swap</ion-title>
          </ion-row>
    </ion-grid>

    
      
  </ion-toolbar>
  <ion-searchbar expand="block" show-clear-button="focus" value="What are you looking for"></ion-searchbar>
</ion-header>

<ion-content color="secondary">
<ion-grid>
  <ion-row>
      <ion-card style="height: 100px;">
        <img src="/assets/img/c1.png" [routerLink]="['/product']" alt="" />
      </ion-card>
  </ion-row>
  <ion-row>
    <ion-card style="height: 100px;">
      <img src="/assets/img/c2.png" alt="" />
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card style="height: 100px;">
      <img src="/assets/img/c3.png" alt="" />
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card style="height: 100px;">
      <img src="/assets/img/c4.png" alt="" />
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card style="height: 100px;">
      <img src="/assets/img/c5.png" alt="" />
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card style="height: 100px;">
      <img src="/assets/img/c6.png" alt="" />
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card style="height: 100px;">
      <img src="/assets/img/c7.png" alt="" />
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card style="height: 100px;">
      <img src="/assets/img/c8.png" alt="" />
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card style="height: 100px;">
      <img src="/assets/img/c9.png" alt="" />
    </ion-card>
  </ion-row>
</ion-grid>




</ion-content>
