<ion-header color="primary">
  <ion-toolbar style="height: 80px;" color="primary">
    <br>
    <br>
    <ion-title>
      Swap
    </ion-title>
    <ion-icon name="menu"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content color="secondary">
    <ion-card style="
    height: 400px" class="welcome-card">
      <img style="
    height: 400px" src="/assets/img/clothes.jpg" alt="" />
      
    </ion-card>

<ion-card>
<ion-button expand="block"  color="primary" [routerLink]="['/login']">Login</ion-button>
<ion-button expand="block" color="primary" [routerLink]="['/register']">Register</ion-button>

<ion-card-content>
  Let's Swap Together!
</ion-card-content>
</ion-card>


  <img  style="height: 32px; margin-left: 25%;" src="/assets/img/google.png">
  <img style="height: 32px;margin-left: 5%;" src="/assets/img/face.png">
  <img style="height: 32px;margin-left: 5%;" src="/assets/img/out.png">


</ion-content>