<ion-header color="primary">
  <ion-toolbar style="height: 80px;" color="primary">
    <br>
    <br>
    <ion-title>
      Swap
    </ion-title>
    <ion-icon name="menu"></ion-icon>
  </ion-toolbar>

  <ion-searchbar expand="block" show-clear-button="focus" value="What are you looking for"></ion-searchbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-badge style="margin-left:3%;" color="primary">All</ion-badge>
      <ion-badge style="margin-left:3%;" color="secondary">Dresses</ion-badge>
      <ion-badge style="margin-left:3%;" color="secondary">Top</ion-badge>
      <ion-badge style="margin-left:3%;" color="secondary">Jeans</ion-badge>
      <ion-badge style="margin-left:3%;" color="secondary">Sweaters</ion-badge>
      <ion-badge style="margin-left:3%;" color="secondary">Coat</ion-badge>

    </ion-row>
  </ion-grid>
  <br>
  <br>
  <ion-row>
    <ion-label style="margin-left: 5%; font-weight: bold;">142 Items</ion-label>
    <ion-label style="margin-left: 35%;" color="secondary">Sort by: Featured </ion-label>

  </ion-row>



  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="/assets/img/p1.png" [routerLink]="['/product-details']" alt="" />
          <div>
            <img style="display:inline-flex;width: 20px;" src="/assets/img/leaf.png" alt="" />
            <ion-badge style="display:inline-flex ;" color="primary">60%</ion-badge>
            <ion-icon style="margin-left: 40%;" color="primary" name="heart"></ion-icon>
          </div>
        </ion-card>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-row>
          <ion-label>DKNY t-shirt - colour block front logo</ion-label>
        </ion-row>
        <ion-row>
          <ion-label color="danger">9 km</ion-label>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="/assets/img/p1.png" alt="" />
          <div>
            <img style="display:inline-flex;width: 20px;" src="/assets/img/leaf.png" alt="" />
            <ion-badge style="display:inline-flex ;" color="primary">60%</ion-badge>
            <ion-icon style="margin-left: 40%;" color="primary" name="heart"></ion-icon>
          </div>
        </ion-card>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-row>
          <ion-label>DKNY t-shirt - colour block front logo</ion-label>
        </ion-row>
        <ion-row>
          <ion-label color="danger">9 km</ion-label>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="/assets/img/p2.png" alt="" />
          <div>
            <img style="display:inline-flex;width: 20px;" src="/assets/img/leaf.png" alt="" />
            <ion-badge style="display:inline-flex ;" color="primary">60%</ion-badge>
            <ion-icon style="margin-left: 40%;" color="primary" name="heart"></ion-icon>
          </div>
        </ion-card>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-row>
          <ion-label>Polo Ralph Lauren jacket - light blue</ion-label>
        </ion-row>
        <ion-row>
          <ion-label color="danger">9 km</ion-label>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="/assets/img/p2.png" alt="" />
          <div>
            <img style="display:inline-flex;width: 20px;" src="/assets/img/leaf.png" alt="" />
            <ion-badge style="display:inline-flex ;" color="primary">60%</ion-badge>
            <ion-icon style="margin-left: 40%;" color="primary" name="heart"></ion-icon>
          </div>
        </ion-card>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-icon color="primary" name="star"></ion-icon>
        <ion-row>
          <ion-label>Polo Ralph Lauren jacket - light blue</ion-label>
        </ion-row>
        <ion-row>
          <ion-label color="danger">9 km</ion-label>
        </ion-row>
      </ion-col>

    </ion-row>



  </ion-grid>






</ion-content>

