<ion-header color="primary">
  <ion-toolbar style="height: 80px;" color="primary">
    <br>
    <br>
    <ion-title>
      Swap
    </ion-title>
    <ion-icon name="menu"></ion-icon>
  </ion-toolbar>



</ion-header>

<ion-content>
<ion-card>
  <img style="width: 50%;" src="/assets/img/profile.png" alt="" />

  <img style="width: 10%;" src="/assets/img/leaf.png" alt="" />

<ion-row>
  <ion-label>Name: Valerie P.</ion-label>
</ion-row>
<ion-row>
  <ion-label>Distance: 7 Km.</ion-label>
</ion-row>
<ion-row>
  <ion-label>Rating:</ion-label>
  <ion-icon color="primary" name="star"></ion-icon>
  <ion-icon color="primary" name="star"></ion-icon>
  <ion-icon color="primary" name="star"></ion-icon>
  <ion-icon color="primary" name="star"></ion-icon>
  <ion-icon color="primary" name="star"></ion-icon>
</ion-row>

<br>

<ion-row>
  <ion-label>
    Preferences:
  </ion-label>
</ion-row>

<ion-row>
  <ion-badge style="margin-left:3%;" color="secondary">Jeans</ion-badge>
  <ion-badge style="margin-left:3%;" color="secondary">Sweaters</ion-badge>
  <ion-badge style="margin-left:3%;" color="secondary">Coat</ion-badge>
</ion-row>
<br>

</ion-card>
</ion-content>

<ion-footer>
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-icon style="margin-top: 20px;" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary" >Edit profile</ion-button>
      </ion-col>
      <ion-col>
        
      </ion-col>

    </ion-row>


  </ion-card>
</ion-footer>