<ion-header color="primary">
  <ion-toolbar style="height: 80px;" color="primary">
    <br>
    <br>
    <ion-title>
      Swap
    </ion-title>
    <ion-icon name="menu"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content color="secondary">
  
  <ion-card >
  
    <ion-list>
  <ion-item>
    <ion-label position="floating">Name:</ion-label>
    <ion-input placeholder="name"></ion-input>
  </ion-item>
  
  <ion-item fill="solid">
    <ion-label position="floating">Gender:</ion-label>
    <ion-input placeholder="Female/Male"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Height:</ion-label>
    <ion-input placeholder="cm"></ion-input>
  </ion-item>
  
  <ion-item fill="solid">
    <ion-label position="floating">Weight:</ion-label>
    <ion-input placeholder="kg"></ion-input>
  </ion-item>

<ion-item>
  <ion-label position="floating">Size:</ion-label>
  <ion-input placeholder="S/M/L/XL..."></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">Age:</ion-label>
  <ion-input placeholder="years"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Country:</ion-label>
  <ion-input placeholder="country"></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">Province:</ion-label>
  <ion-input placeholder="province"></ion-input>
</ion-item>

<ion-item fill="solid">
  <ion-label position="floating">Location:</ion-label>
  <ion-input placeholder="location"></ion-input>
</ion-item>


  </ion-list>
  <br>
  
  <ion-button expand="block" color="primary" [routerLink]="['/tabs/tab2']">
    <ion-label style="color: #fff;">
      Register
    </ion-label>
  </ion-button>
  </ion-card>



 



</ion-content>